/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('./fonts/OpenSans-Regular.ttf') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Work Sans Thin';
    font-style: thin;
    font-weight: 400;
    src: local('Work Sans Thin'), local('WorkSansThin'), url('./fonts/WorkSans-Thin.ttf') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



body{
    font-family: "Open Sans", Arial, sans-serif;
    padding-left: 15px;
    font-size:10pt;
    padding-top:150px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

h1,
h2,
h3,
h4,
h5,
strong {
    color: darkslategrey;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 0em;
    letter-spacing: 2px;
    font-weight: lighter;
    word-spacing: 4px;
    text-align:left;
    padding-left:20%;

}

a{
    color:darkgray;
    line-height: 2.25em;
}

h2{
    /*display:inline-block;
    float:left;*/
    margin:0px;
    padding-top:20px;
}


.fplinks {

    text-align:left;
    list-style: none;
    padding-left: 20%;
    margin:0px;
    padding-bottom:175px;
}



.link{
  display:block;

}


ul{
    padding-left:5px;
}



